<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Car Maker</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <script src="/assets/navbar.js" type="module"></script>
</head>
<body>
  <nav-bar></nav-bar>

  <section id="makeCar">

  </section>
  <section id="carSection">
    
  </section>
  <script src="/assets/carBundle.js"></script>
</body>
</html>