<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Type Rhythm</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script src="/assets/loginNav.js" type="module"></script>
</head>
<body>
  <login-nav class="mb-6"></login-nav>

    <div class="notification is-danger is-light mt-6 hidden">
    </div>
  
  <section id="content" class="content mt-6"></section>

  <script src="/assets/loginBundle.js"></script>
</body>
</html>
